.hero {
    width: 100%;
    padding: 1rem;
}

.hero-container {
    width: 100%;
    padding: 1rem;
}

::-webkit-scrollbar {
    display: none;
}

.hero-top {
    display: flex;
    width: 100%;
    height: 45vh;
    margin-bottom: 2rem;
    gap: 0.5rem;
}

.hero-top-left {
    display: flex;
    align-items: center;
    flex: 2;
    flex-wrap: wrap;
    justify-content: space-around;

}


.hero .hero-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.hero-heading button {
    background-color: rgb(8, 8, 133);
    padding: 0.8rem 2rem;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.hero-top-right {
    border: 1px solid gray;
    height: 30vh;
    width: 100%;
}

.hero-bottom {
    padding: 1rem;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}


.filter-right{
    display: flex;
    gap: 1rem;
}